.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* custom css */

@import "~normalize.css/normalize.css";

body {
	background-color: #dadada;
}
body > .grid {
	height: 100%;
}
.column {
	max-width: 450px;
}
/* Fixing Semantic stuff. */

.off {
	/* important to override semantic UI */
	display: none !important;
}
.on {
	display: inherit;
}
.container{
	margin: 0;
	display: grid;
	grid-template-columns: .7fr 1.6fr .7fr;
}
.left {
	border: 2px solid green;
	width: 100%;
}
.middle {
	border: 2px solid red;
	width: 100%;
}
.right {
	border: 2px solid blue;
	width: 100%;
}